h1 {
    margin-bottom: -1px;
    color: rgb(12, 12, 90);
}
h2 {
    font-size: 15px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
}
ul li {
    line-height: 200%; 
}
ul {
    margin-left: -20px;
}
section {
    margin-bottom: 40px;
}
body {
    max-width: 640px;     
    margin: 0 auto;     
    padding: 20px;    
}
.sticky-element {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 15px;
}
.link-desktop {
    display: none;
}
@media (min-width: 768px) {
    button { display: none; } 
    .link-desktop { display: block; }         
    #meniuLateral { display: none; }
}