main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px;
}
header h3 {
    margin: 0;
}
header button {
    background: none;
    border: none;
    font-size: 24px;
}
a {
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    color: gray;
}
.travel {
    display: inline-block;
    background-color:#1e3a8a;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.author {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}
.author span:first-child {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dbeafe;
    color: #2563eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 25px;
}
h2{
    margin: 30px 0 20px;
}
.tags {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.tags span {
    background: #f3f4f6;
    color: #555;
    padding: 8px 16px;
    border-radius: 20px;
}